.inline{
    display: block;
    text-align: center;
}
body{
    font-family: Helvetica, sans-serif;
}
header {
    border: solid;
    border-color: #107896;
    display:flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

li {
   padding: 20px;
}
h2{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; 
    zoom:1;
    width: 50%;
    text-align: center;
    border: solid;
    color: #99d7cb;
    border-color: #4c4444;
    background-color: #4c4444;
}
#ContactUs{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}
#hoursOperation{
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}
#backgroundInfo{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding-top: 50px;
}
#companylogo{
    margin-left:auto;
    margin-right:auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
table{
    border:3px solid #1cc9af;
    border-style: dashed dotted dashed dotted;
}
table td{
    border:3px solid #1cc9af;
    padding: 10px;
}
input{
    margin:auto;
}
fieldset{
    text-align: center;
}
.submit {
    float:right;
}

tr:nth-child(even) {
    background-color: #1cc9af;
}
tr:nth-child(odd) {
    background-color: #107896;
}
a:link{
    color: black;
}
a:visited{
    color: #d50ae7
}
a:hover{
    background-color: #107896;
}
a:active{
    color: red;
}
input[type=text] {
    display:block;
}
input[type=tel] {
    display: block;
}
input[type=email] {
    display: block;
}
input[type=date] {
    display: block;
}
input[type=checkbox] {
    display: inline;
}
input[type=radio] {
    display: inline;
}
@media only screen and (min-width: 600px) {
    
}