h1{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; 
    zoom:1;
    text-align: center;
    border: solid;
    color: #99d7cb;
    border-color: #4c4444;
    background-color: #4c4444;
}

h2{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; 
    zoom:1;
    width: 50%;
    text-align: center;
    border: solid;
    color: #99d7cb;
    border-color: #4c4444;
    background-color: #4c4444;
}

p::first-letter{
    color: #99d7cb;
}

#Intro{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}

#Free{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}

#Basic{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}

#Premium{
    text-align: center;
    border: dotted;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #107896;
    vertical-align: top;
    padding: 50px;
}

body{
    font-family: Helvetica, sans-serif;
}

.floatRight{
    float:right; margin-left: 20px; opacity: 0.5;
}
.floatRightClear{
    float:right;clear:right;margin-left:20px
}
figcaption{
    float:right; margin-left: -20px;
}

p{
    text-align: left;
}
