.inline-div {
    display: block;
    text-align: center;
}

#choosepackage {
    text-align: center;
    color: #4c4444;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url(..images/pricebackground.png);
}

#youcolor {
    color: #99d7cb;
}


h2 {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; 
    zoom:1;
    width: 30%;
    text-align: center;
    border: solid;
    color: #99d7cb;
    border-color: #4c4444;
    background-color: #4c4444;
}

#freeprice {
    margin-left: 85px;
    color: #4c4444;
}

#free {
    display: inline-block;
    text-align: left;
    margin-left: 200px;
    border: solid;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #4c4444;
    vertical-align: top;
}

#basicprice {
    margin-left: 40px;
    color: #4c4444;
}

#basic {
    display: inline-block;
    text-align: left;
    margin-left: 180px;
    border: solid;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #4c4444;
    vertical-align: top;
}

#premiumprice {
    margin-left: 50px;
    color: #4c4444;
}

#premium {
    display: inline-block;
    text-align: left;
    margin-left: 190px;
    border: solid;
    padding-right: 20px;
    border-radius: 25px;
    border-color: #4c4444;
    vertical-align: top;
}

.check {
    list-style: "✔"; 
    color: green;
}
.cancel {
    list-style: "🗙";
    color: red;
}

li {
    margin-bottom: 30px;
    padding-left: 10px;
}

li span {
    color: black;
}

#faq {
    margin-top: 100px;
    text-align: center;
    border: solid;
    border-color: #4c4444;
    background-color: #4c4444;
    color: #99d7cb;
}


